<settings>
    
    <setting propertyKey="@Properties.activityType" title="@Strings.settingsActivityType">
        <settingConfig type="list">
            <listEntry value="1">@Strings.settingsActivityTypeWindsurfing</listEntry>
            <listEntry value="2">@Strings.settingsActivityTypeKitesurfing</listEntry>
            <listEntry value="3">@Strings.settingsActivityTypeSurfing</listEntry>
            <listEntry value="4">@Strings.settingsActivityTypeOpenwaterSwimming</listEntry>
            <listEntry value="0">@Strings.settingsActivityTypeOther</listEntry>
        </settingConfig>
    </setting>


    <setting propertyKey="@Properties.unitsSpeed" title="@Strings.settingsUnitsSpeed">
        <settingConfig type="list">
            <listEntry value="0">@Strings.settingsUnitsSpeedkms</listEntry>
            <listEntry value="1">@Strings.settingsUnitsSpeedms</listEntry>
            <listEntry value="2">@Strings.settingsUnitsSpeedmph</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.unitsDistance" title="@Strings.settingsUnitsDistance">
        <settingConfig type="list">
            <listEntry value="0">@Strings.settingsUnitsDistanceMeters</listEntry>
            <listEntry value="1">@Strings.settingsUnitsDistanceMiles</listEntry>
        </settingConfig>
    </setting>


    <setting propertyKey="@Properties.background" title="@Strings.settingsBackground">
        <settingConfig type="list">
            <listEntry value="0">@Strings.settingsBackgroundBlack</listEntry>
            <listEntry value="1">@Strings.settingsBackgroundWhite</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.mapZoomDistance" title="@Strings.settingsMapZoomDistance">
        <settingConfig type="list">
            <listEntry value="1000">@Strings.settings1000m</listEntry>
            <listEntry value="1500">@Strings.settings1500m</listEntry>
            <listEntry value="2000">@Strings.settings2km</listEntry>
            <listEntry value="5000">@Strings.settings5km</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.arrowSize" title="@Strings.settingsArrowSize">
        <settingConfig type="list">
            <listEntry value="0">@Strings.settingsArrowSizeNormal</listEntry>
            <listEntry value="1">@Strings.settingsArrowSizeLarge</listEntry>
            <listEntry value="2">@Strings.settingsArrowSizeExtraLarge</listEntry>
            <listEntry value="3">@Strings.settingsArrowSizeNone</listEntry>
            <listEntry value="4">@Strings.settingsArrowSizeSmall</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.distanceToWaypoint" title="@Strings.settingsDistanceToWaypoint">
        <settingConfig type="list">
            <listEntry value="10">@Strings.settingsDistanceToWaypoint10m</listEntry>
            <listEntry value="25">@Strings.settingsDistanceToWaypoint25m</listEntry>
            <listEntry value="50">@Strings.settingsDistanceToWaypoint50m</listEntry>
            <listEntry value="100">@Strings.settingsDistanceToWaypoint100m</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.returnWaypointVisibility" title="@Strings.settingsReturnWaypointVisibility">
        <settingConfig type="list">
            <listEntry value="0">@Strings.settingsReturnWaypointAfterLast</listEntry>
            <listEntry value="1">@Strings.settingsReturnWaypointAlways</listEntry>
            <listEntry value="2">@Strings.settingsReturnWaypointNever</listEntry>
        </settingConfig>
    </setting>
</settings>