<settings>
    
    <setting propertyKey="@Properties.activityType" title="@Strings.settingsActivityType">
        <settingConfig type="list">
            <listEntry value="1">@Strings.settingsActivityTypeWindsurfing</listEntry>
            <listEntry value="2">@Strings.settingsActivityTypeKitesurfing</listEntry>
            <listEntry value="3">@Strings.settingsActivityTypeSurfing</listEntry>
            <listEntry value="4">@Strings.settingsActivityTypeOpenwaterSwimming</listEntry>
            <listEntry value="0">@Strings.settingsActivityTypeOther</listEntry>
        </settingConfig>
    </setting>


    <setting propertyKey="@Properties.unitsSpeed" title="@Strings.settingsUnitsSpeed">
        <settingConfig type="list">
            <listEntry value="0">@Strings.settingsUnitsSpeedkms</listEntry>
            <listEntry value="1">@Strings.settingsUnitsSpeedms</listEntry>
            <listEntry value="2">@Strings.settingsUnitsSpeedmph</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.unitsDistance" title="@Strings.settingsUnitsDistance">
        <settingConfig type="list">
            <listEntry value="0">@Strings.settingsUnitsDistanceMeters</listEntry>
            <listEntry value="1">@Strings.settingsUnitsDistanceMiles</listEntry>
        </settingConfig>
    </setting>


    <setting propertyKey="@Properties.background" title="@Strings.settingsBackground">
        <settingConfig type="list">
            <listEntry value="0">@Strings.settingsBackgroundBlack</listEntry>
            <listEntry value="1">@Strings.settingsBackgroundWhite</listEntry>
        </settingConfig>
    </setting>
</settings>